/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-scatac Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

manifest {
    name            = 'nf-scatac'
    author          = 'WASP2 Team'
    description     = 'Single-Cell ATAC-seq Allelic Imbalance Pipeline'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '1.0.0'
}

params {
    input                   = null
    outdir                  = './results'
    publish_dir_mode        = 'copy'
    vcf                     = null
    cellranger_output       = null
    fragments               = null
    min_fragments_per_cell  = 1000
    min_tss_enrichment      = 4.0
    cluster_resolution      = 0.5
    wasp_min_count          = 5
    output_h5ad             = true
    output_zarr             = false
    skip_clustering         = false
    skip_multiqc            = false
    max_cpus                = 16
    max_memory              = '128.GB'
    max_time                = '240.h'
    help                    = false
    version                 = false
    validate_params         = true
    tracedir                = "${params.outdir}/pipeline_info"
}

includeConfig 'conf/base.config'

profiles {
    docker {
        docker.enabled          = true
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
    }
    conda {
        conda.enabled           = true
        process.conda           = "${projectDir}/../../environment.yml"
    }
    test_stub {
        includeConfig 'conf/test_stub.config'
    }
}

def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
timeline { enabled = true; file = "${params.tracedir}/timeline_${trace_timestamp}.html" }
report { enabled = true; file = "${params.tracedir}/report_${trace_timestamp}.html" }
trace { enabled = true; file = "${params.tracedir}/trace_${trace_timestamp}.txt" }

process.shell = ['/bin/bash', '-euo', 'pipefail']

def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else return obj
        } catch (all) { return obj }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else return obj
        } catch (all) { return obj }
    } else if (type == 'cpus') {
        try { return Math.min(obj, params.max_cpus as int) }
        catch (all) { return obj }
    }
}
