// Nextflow config for nf-test
params {
    // Test data directory
    test_data_dir = "${projectDir}/tests/data"
    modules_testdata_base_path = "${projectDir}/../../tests/data"
}

process {
    // Resource defaults for testing
    cpus = 1
    memory = '2.GB'
    time = '1.h'
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

singularity {
    enabled = false
}

profiles {
    docker {
        docker.enabled = true
        singularity.enabled = false
    }
    singularity {
        docker.enabled = false
        singularity.enabled = true
    }
    conda {
        docker.enabled = false
        singularity.enabled = false
        conda.enabled = true
    }
    stub {
        // Minimal resources for stub tests
        process {
            cpus = 1
            memory = '1.GB'
        }
    }
}

// Test output directory
params.outdir = "${projectDir}/test-output"
