name: WASP2
channels:
  - bioconda
  - conda-forge
  - defaults
dependencies:
  - python=3.9.*
  - numpy
  - pandas
  - polars
  - scipy
  - pysam
  - pybedtools
  - bedtools
  - bcftools
  - samtools
  - typer
  - typing_extensions
  - anndata
