/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required for a full-size test.
    Use as follows:
        nextflow run nf-atacseq -profile test_full,<docker/singularity/conda>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline functionality'

    // Input data for full-size test
    // TODO: Update with actual full-size test data URLs
    input  = "${projectDir}/assets/test_samplesheet.csv"

    // Genome references - use same as test for now
    // TODO: Update with full genome references
    fasta = null
    vcf   = null
}
