/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-atacseq test config
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Minimal test configuration for CI/CD and local testing
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '1.h'

    // Test data - uses small chr22 subset
    // These would be hosted on GitHub or a test data server
    input  = "${projectDir}/assets/test_samplesheet.csv"

    // References - minimal chr22 subset
    fasta       = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/genome/chr22_23800000-23900000.fa'
    bwa_index   = null  // Will be generated

    // Variants
    vcf         = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/genomics/homo_sapiens/illumina/vcf/test.vcf.gz'

    // Skip certain steps for faster testing
    skip_dedup        = true
    skip_peak_calling = false
    macs_gsize        = '1.0e7'

    // WASP2 options
    wasp_min_count    = 1
    wasp_pseudocount  = 1
}
