config {
    // Location of the nf-test plugin
    testsDir "tests"
    workDir ".nf-test"
    configFile "nextflow.config"
    profile "test"

    // Global settings
    stage {
        copy "assets/**"
        copy "conf/**"
        copy "modules/**"
        copy "subworkflows/**"
        copy "workflows/**"
    }

    // Plugin settings
    plugins {
        load "nf-schema@2.0.0"
    }
}
