config {
    // nf-core compliant nf-test configuration
    testsDir "."
    workDir System.getenv("NFT_WORKDIR") ?: ".nf-test"
    configFile "tests/nextflow.config"
    profile "test_stub,docker"

    stage {
        copy "assets/**"
        copy "conf/**"
        copy "modules/**"
        copy "subworkflows/**"
        copy "workflows/**"
    }
}
