/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-outrider Full Test Config
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Full-sized test dataset for thorough validation
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full-sized test dataset to check pipeline function'

    // Reasonable resources for full test
    max_cpus   = 8
    max_memory = '64.GB'
    max_time   = '24.h'

    // Full test data paths (to be configured)
    // input = "s3://nf-core-awsmegatests/outrider/input/samplesheet.csv"
    // vcf   = "s3://nf-core-awsmegatests/outrider/input/variants.vcf.gz"
    // gtf   = "s3://nf-core-awsmegatests/outrider/input/gencode.v38.gtf"
}
