/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-outrider Test Config
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Minimal test dataset for CI/CD
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources for CI
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '1.h'

    // Test data (relative paths from pipeline directory)
    input = "${projectDir}/assets/test_samplesheet.csv"
    vcf   = "${projectDir}/../../test/data/test_variants.vcf.gz"
    gtf   = "${projectDir}/../../test/data/test_annotation.gtf"

    // Fast test parameters
    outrider_iterations  = 3
    outrider_min_samples = 3
}
