/*
    nf-scatac base config - Resource configurations
*/

process {
    cpus   = { check_max( 1 * task.attempt, 'cpus' ) }
    memory = { check_max( 8.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h * task.attempt, 'time' ) }

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1

    withLabel:process_low {
        cpus   = { check_max( 2, 'cpus' ) }
        memory = { check_max( 12.GB * task.attempt, 'memory' ) }
    }
    withLabel:process_medium {
        cpus   = { check_max( 6, 'cpus' ) }
        memory = { check_max( 48.GB * task.attempt, 'memory' ) }
    }
    withLabel:process_high {
        cpus   = { check_max( 12, 'cpus' ) }
        memory = { check_max( 96.GB * task.attempt, 'memory' ) }
    }
    withLabel:process_wasp2 {
        cpus   = { check_max( 4, 'cpus' ) }
        memory = { check_max( 16.GB * task.attempt, 'memory' ) }
    }
}
