/*
    nf-scatac test_local config - local testing with real synthetic data
    Run: cd pipelines/nf-scatac/tests/data && bash generate_test_data.sh
*/

params {
    config_profile_name = 'Local test profile'
    max_cpus   = 2
    max_memory = '4.GB'
    max_time   = '1.h'
    input      = "${projectDir}/tests/data/samplesheet_local.csv"
    vcf        = "${projectDir}/tests/data/variants.vcf.gz"
    outdir     = "${projectDir}/results_local"
    skip_clustering = true
    skip_multiqc    = true
}
