/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-scatac Full Test Config
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Full-sized test dataset for thorough validation
    Use as follows:
        nextflow run nf-scatac -profile test_full,<docker/singularity/conda>
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full-sized test dataset to check pipeline function'

    // Reasonable resources for full test
    max_cpus   = 8
    max_memory = '64.GB'
    max_time   = '24.h'

    // Full test data - uses local GM12878 scATAC-seq data
    // Requires access to IBLM filesystem
    input = "${projectDir}/tests/real/samplesheet.csv"
    vcf   = '/iblm/netapp/data1/aho/variants/NA12878.vcf.gz'

    // Standard pipeline parameters for full test
    min_fragments_per_cell = 1000
    min_cells_per_snp      = 3
    min_count              = 10
}
