/*
 * nf-scatac test_real config - Integration test with GM12878 scATAC-seq data
 */

params {
    config_profile_name    = 'Real data integration test'
    input                  = "${projectDir}/tests/real/samplesheet.csv"
    vcf                    = '/iblm/netapp/data1/aho/variants/NA12878.vcf.gz'
    outdir                 = "${projectDir}/results_real"
    min_fragments_per_cell = 1000
    max_cpus               = 16
    max_memory             = '128.GB'
    max_time               = '48.h'
}
