/*
    nf-scatac test_stub config - CI/CD stub testing
*/

stubRun = true

params {
    config_profile_name = 'Stub test profile'
    max_cpus   = 2
    max_memory = '4.GB'
    max_time   = '1.h'
    input      = "${projectDir}/tests/stub/samplesheet.csv"
    vcf        = "${projectDir}/tests/stub/variants.vcf.gz"
    outdir     = "${projectDir}/results_stub"
    skip_clustering = true
    skip_multiqc    = true
}
