/*
 * Test configuration for nf-test
 * Loaded via nf-test.config configFile directive
 */
params {
    modules_testdata_base_path   = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/'
}

process {
    resourceLimits = [
        cpus: 2,
        memory: 6.GB,
        time: 6.h
    ]
}
